<div>
<br>
	<table>
  <thead>
    <tr>
      <th scope="col">To Person</th>
      <th scope="col">From Date</th>
      <th scope="col">To Date</th>
      <th scope="col">Status</th>
      <th scope="col">Changes Requested</th>
      <th scope="col">Reason</th>
      <th scope="col">Make change</th>
    </tr>
  </thead>
  <tbody>
    {{#each applis}}
    <tr>
  		<td>{{this.toPerson}}</td>
      <td>{{moment this.from format="YYYY-MM-DD"}}</td>
      <td>{{moment this.to format="YYYY-MM-DD"}}</td>
  		<td>{{this.status}}</td>
      <td>{{this.changesreq}}</td>
  		<td>{{this.reason}}</td>
      {{#if this.flag}}
      <form action="/users/getapp" method="POST">  
        <input type="hidden" name="ouid" value={{this._id}}>
        <td><button class="btn btn-success" value="Make_change" name="changes">Make Changes</button></td>
      </form>
      {{else}}
        <td><i>Changes not requested</i></td>
      {{/if}}
	  </tr>	
	  {{/each}}
  </tbody>
</table>
</div>


