<div>
<br>
	<table>

	<td>From Person</td>
	<td>From date</td>
	<td>To Date</td>
	<td>Status</td>
	<td>Reason</td>
	<td>E-mail</td>
	{{#each applis}}

<thead>
    <tr>
      <th scope="col">To Person</th>
      <th scope="col">From Date</th>
      <th scope="col">To Date</th>
      <th scope="col">Status</th>
       <th scope="col">Reason</th>
    </tr>
  </thead>
  <tbody>
    {{#each applis}}
	<tr>
		<td>{{this.toPerson}}</td>
		<td>{{moment this.from format="YYYY-MM-DD"}}</td>
		<td>{{moment this.to format="YYYY-MM-DD"}}</td>
		<td>{{this.status}}</td>
		<td>{{this.reason}}</td>
		<td>{{this.email}}</td>
    </tr>
        <form method="post" action="\users\get-maildata">
        	<input type="text" name="data">    
            <input type="submit" value="Submit">
            <input type="hidden" name="mail" value={{{this.email}}}>
        </form>
	{{/each}}
</div>


	</tr>	

	{{/each}}
  </tbody>
</table>
</div>



