<div>
<br>
	<table>
<thead>
    <tr>
      <th scope="col">To Person</th>
      <th scope="col">From Date</th>
      <th scope="col">To Date</th>
      <th scope="col">Status</th>
       <th scope="col">Reason</th>
    </tr>
  </thead>
  <tbody>
    {{#each applis}}
	<tr>
		<td>{{this.toPerson}}</td>
    <td>{{moment this.from format="YYYY-MM-DD"}}</td>
    <td>{{moment this.to format="YYYY-MM-DD"}}</td>
		<td>{{this.status}}</td>
		<td>{{this.reason}}</td>
	</tr>	
	{{/each}}
  </tbody>
</table>
</div>


