<form action="/users/edit" method="POST">
  <div class="form-group">
    <label>From Date</label>
    <label><h5>In case of half day, enter same date in From and To</h5></label>
    <input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" placeholder="{{{app.from}}}" name="from" class="form-control" value="{{{moment app.from format="YYYY-MM-DD"}}}"/>
  </div>

  <div class="form-group">
    <label>To</label>
    <input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" class="form-control" placeholder="{{{app.to}}}" value="{{{moment app.to format="YYYY-MM-DD"}}}" name="to"/>
  </div>
  
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea name="description"  class="form-control">{{{app.reason}}}</textarea>
  </div>

  <input type="hidden" name="_id" value="{{{app._id}}}">
  <button type="submit" class="btn btn-info">Submit</button>

</form>
