 <h4>The following User shall be deleted from the system, verify the details before proceeding.</h4>
       <br>Name: {{{context.u_name}}}
       <br>Username: {{{context.u_username}}}
       <br>Email: {{{context.u_email}}}
       <br>User level: {{{context.u_userlevel}}}
       <br>
       <br>
<form method="post" action="/users/confirm1">
   <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <input type="hidden" name="username_d" value={{{context.u_username}}}>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>