  <h4>The following User shall be added to the system, verify the details before proceeding.</h4>
       <br>Name: {{{context.u_name}}}
       <br>Username: {{{context.u_username}}}
       <br>Password: {{{context.u_password}}}
       <br>Email: {{{context.u_email}}}
       <br>User level: {{{context.u_userlevel}}}
       <br>
<form method="post" action="/users/confirm">
   <div class="form-group">
    <label>Enter your password to verify</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <input type="hidden" name="u_name" value={{{context.u_name}}}>
    <input type="hidden" name="u_username" value={{{context.u_username}}}>
    <input type="hidden" name="u_password" value={{{context.u_password}}}>
    <input type="hidden" name="u_email" value={{{context.u_email}}}>
    <input type="hidden" name="u_userlevel" value={{{context.u_userlevel}}}>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>