<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chart.js demo</title>
        <!-- import plugin script -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    </head>
    <body>
        <!-- line chart canvas element -->
        <canvas id="buyers" width="600" height="400"></canvas>

        <script>
            // line chart data
            var buyerData = {
                labels : ["Jan","Feb","March","April","May","June","July","Aug","Sept","Oct","Nov","Dec"],
                datasets : [
                {
                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : [{{{mon.Jan}}},{{{mon.Feb}}},{{{mon.Mar}}},{{{mon.Apr}}},{{{mon.May}}},{{{mon.Jun}}},{{{mon.Jul}}},{{{mon.Aug}}},{{{mon.Sep}}},{{{mon.Oct}}},{{{mon.Nov}}},{{{mon.Dec}}}]
                }
            ]
            }
            // get line chart canvas
            var buyers = document.getElementById('buyers').getContext('2d');
            // draw line chart
            new Chart(buyers).Line(buyerData);

        </script>
    </body>
</html>
